.register-screen #name:focus,
.register-screen #password:focus,
.register-screen #confirm-password:focus {
    border-bottom: 1px solid #1976d2;
    box-shadow: 0 1px 0 0 #1976d2;
}

.register-screen .name-field {
    display: flex;
}

.register-screen .btn-check {
    width: 130px;
}

.register-screen .message {
    text-align: center;
    font-size: 25px;
}